<div class="container-fluid">
  <div class="row">
    <header class="main-header">
      <div class="col head-navbar">
        <!--header navbar-->
        <nav  class="navbar navbar-expand-lg  navbar-light" >

          <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <div class="navbar-nav mr-auto">
              <a class="nav-item" nav-link px-3 routerLink="/" (click)="onLogout()">Log Out</a>
              <a class="nav-item" nav-link px-3 routerLink="/main-pg">Search Movies</a>
              <a class="nav-item" nav-link px-3 routerLink="/search-results">Search Results</a>
              <!-- <a class="nav-item" nav-link px-3 routerLink="/movie-details"></a> -->
              <a class="nav-item" nav-link px-3 routerLink="/user-library">Library</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>
</div>
