<app-header></app-header>

<div class="container">
  <div class="content-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" class="form-container">
      <input formControlName="fname" placeholder="First Name"/>

      <input formControlName="lname" placeholder="Last Name"/>

      <input formControlName="email" placeholder="Email"/>

      <input formControlName="password" type="password" placeholder="Password"/>

      <button (click)="register()"> Register </button>

      <p class="error-message">{{ errorMsg }}</p>

    </form>
  </div>
</div>
