<router-outlet></router-outlet>
<app-header></app-header>



<div class="full-movie-container">
<div *ngFor="let movie of userLibrary">
  <div>
    <button class="deleteBtn" type="submit"  (click)="onDelete(movie.imdbID)">Delete from Library</button>
  </div>

  <div class="movie-container" (click)="getMovieDetails(userLibrary)">

    <img src="{{ movie.poster }}" alt="Photo of {{movie.title}}" />

    <h3>{{movie.title}}</h3>
    <p class="imdbID">{{movie.imdbID}}</p>
    <!-- <h4>{{movie.Year}}</h4>
    <p>{{movie.Actors}}</p>
    <p>{{movie.BoxOffice}}</p>
    <p>{{movie.Director}}</p>
    <p>{{movie.Plot}}</p> -->
    </div>

  </div>
