.full-movie-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.deleteBtn {
  padding: 3px;
  background-color: rgb(129, 11, 7);
  border-radius: 15px 50px;
  color: rgb(250, 245, 245);


}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

img {
  border: rgb(255, 230, 2);
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;

}

.movie-container {
 color: rgb(15, 12, 12);
 text-align: center;
 border-color: darkgrey;
 flex-basis: calc(100%/6);
 padding:5px;

}
.movie-container:hover {
  background-color: rgb(5, 0, 0);
}
.imdbID {
  display: none;
}
