.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  // background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width:100vw;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}
